.auction-item {
    width: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border: 2px solid white;
}
.auction-item:hover {
    border: 2px solid dodgerblue;
}